<nav id="main-nav-buttons">
    <a href="installation"><button class="accent-green-bg">Mod Installation Guide</button></a>
    <a href="developers"><button class="accent-purple-bg">Developer Guide</button></a>
    <nav>
        <a href="help"><button class="accent-orange-bg">Help</button></a>
        <a href="about"><button class="accent-orange-bg">About</button></a>
        <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb"><button class="accent-orange-bg">Discord</button></a>
    </nav>
</nav>