/* Fonts */

@font-face {
    font-family: Spore-Regular;
    src: url(fonts/Spore-Regular.ttf);
}

@font-face {
    font-family: Spore-Light;
    src: url(fonts/Spore-Light.ttf);
}

@font-face {
    font-family: "Trebuchet EA";
    src: url(fonts/trebucheteabold.ttf);
}

@font-face {
    font-family: "Palatino Sans EA";
    src: url(fonts/palatinosanseabold.ttf);
}


/* Global styles */

html {
    /* Colors */
    --spore-white: #FFF;
    --spore-cool: #F0F1F4;
    --spore-neutral: #939496;
    --spore-deep-grey: #6D6E70;
    --spore-light-space: #4E9DD8;
    --spore-mid-space: #2361A7;
    --spore-deep-space: #000112;
    --spore-accent-green: #B1CD49;
    --spore-accent-orange: #E0932F;
    --spore-accent-purple: #CA0088;
    /* Gradients */
    --spore-text-gradient: linear-gradient(#F6F6F6, #CED1D4);
    --spore-cool-gradient: linear-gradient(#FFFFFF, #E9EEF0);
    --spore-glass-pane-gradient: linear-gradient(#FBFBFB, #E4F0F6);
    --spore-space-gradient: linear-gradient(#4171B5, #5057A3, #272458);
    --spore-deep-space-gradient: linear-gradient(#2070B8, #233164, #00000D);
    --spore-accent-green-gradient: linear-gradient(#B1CD49, #004620);
    --spore-accent-orange-gradient: linear-gradient(#E0932F, #A42433);
    --spore-accent-purple-gradient: linear-gradient(#CA0088, #5B308D);
    /* Fonts */
    --spore-font: Spore-Regular, sans-serif;
    --spore-heading-font: "Palatino Sans EA", sans-serif;
    --spore-body-font: "Trebuchet EA", sans-serif;
    /* Images */
    --spore-glyphic-bg-dark: url(images/glyphic-bg-dark.png);
}
