@page "/about"

<h1>About Spore Mod Browser</h1>

<p>This website was created by Kade (aka Kyle Nanakdewa, aka SporeMaster Kyle from the Sporum) to help promote Spore modding, and make it easy to discover and install mods for Spore.</p>
<p>Special thanks to the <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb">Spore Modding Community (SMC) Discord</a> for their ideas and support, and Splitwirez (aka rob55rod, developer of Spore Mod Manager) for helping influence the design and systems used to gather data about mods.</p>
<p><strong>This website is not associated with or endorsed by Electronic Arts or Maxis.</strong> This is entirely a community-run effort.</p>

<h2>Contact</h2>
<p>Please use any of the following methods to send questions, suggestions, or comments!</p>
<a href="mailto:spore@kylenanakdewa.com"><button>Email</button></a>
<a target="_blank" rel="noopener noreferrer" href="https://discord.gg/66jVk3X"><button>Spore Discord (run by @@Kyle#1805)</button></a>
<a target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb"><button>Spore Modding Community Discord</button></a>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/Spore-Community/ModBrowser/issues"><button>GitHub Issues</button></a>

<h2>Source Code</h2>
<p>Spore Mod Browser is open source! The code is licensed under the MIT license. Feel free to browse the source code or modify it for your needs.</p>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/Spore-Community/ModBrowser"><button>GitHub</button></a>
<p>Built using <a target="_blank" rel="noopener noreferrer" href="https://dotnet.microsoft.com/">.NET 5</a>, <a target="_blank" rel="noopener noreferrer" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor WebAssembly</a>, and the <a target="_blank" rel="noopener noreferrer" href="https://docs.github.com/en/rest">GitHub API</a>.</p>

<SupportInformation />