@page "/developers"

<h1>Mod Developer Guide</h1>

<h2>Developing Spore Mods</h2>
<p>Content coming soon.</p>

<h2>Publishing Mods</h2>
<p><em>This page will soon be updated with more information.</em></p>
<p>To get your mods to appear on Spore Mod Browser, you must:</p>
<ul>
    <li>Create a <a target="_blank" rel="noopener noreferrer" href="https://github.com/new">GitHub repository</a> for your mod</li>
    <li>Add the <strong>spore-mod</strong> topic to the repository's home page</li>
    <li>Add a <a target="_blank" rel="noopener noreferrer" href="http://www.davoonline.com/sporemodder/rob55rod/ModAPI/Public/xmlModIdentity_v1_0_1_1.html">XML Mod Identity</a> file (ModInfo.xml) to the repository</li>
    <li>Create a .sporemod file and upload it to GitHub by <a target="_blank" rel="noopener noreferrer" href="https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/managing-releases-in-a-repository">creating a Release</a></li>
</ul>
<p>Once you have completed these steps, your mod will automatically be listed on this website. The information for your mod is pulled from the XML Mod Identity file.</p>
<p>A more detailed interactive tutorial will soon be available to walk you through these steps.</p>