@page "/developers"

<h1>Mod Developer Guide</h1>

<h2>Developing Spore Mods</h2>
<p>Please see the documentation <a target="_blank" rel="noopener noreferrer" href="https://github.com/emd4600/SporeModder-FX/wiki/Introduction-to-Spore-modding">here</a>.</p>

<h2>Publishing Mods</h2>
<p><em>This page has simplified info only and is planned for future replacement. Please ask in Discord if you need help with these instructions.</em></p>
<p>To get your mods to appear on Spore Mod Browser, you must:</p>
<ul>
    <li>Create a <a target="_blank" rel="noopener noreferrer" href="https://github.com/new">GitHub repository</a> for your mod</li>
    <ul>
        <li>While you are encouraged to add your mod's source files, you do not need to add any files to this repository, except for an XML Mod Identity file (ModInfo.xml)</li>
    </ul>
    <li>Add the <strong>spore-mod</strong> topic to the repository's home page</li>
    <ul>
        <li>Click the gear icon at the top right, next to About</li>
    </ul>
    <li>Add a <a target="_blank" rel="noopener noreferrer" href="http://www.davoonline.com/sporemodder/rob55rod/ModAPI/Public/xmlModIdentity_v1_0_1_1.html">XML Mod Identity</a> file (ModInfo.xml) to the repository</li>
    <ul>
        <li>The XML Mod Identity MUST contain the following attributes:</li>
        <ul>
            <li>unique</li>
            <li>displayName</li>
            <li>installerSystemVersion</li>
        </ul>
        <li>If you don't have a description set in the Mod Identity, you can set one in your GitHub repository "About" section instead</li>
        <li>If you set these options to "true", they will appear on the mod browser:</li>
        <ul>
            <li>isExperimental</li>
            <li>requiresGalaxyReset</li>
            <li>causesSaveDataDependency</li>
        </ul>
    </ul>
    <li>Create a .sporemod or .package file and upload it to GitHub by <a target="_blank" rel="noopener noreferrer" href="https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/managing-releases-in-a-repository">creating a Release</a></li>
    <ul>
        <li>Set the tag version to something like 1.0 for a new mod, 1.1 for your first update, and so on (v1.0 is also fine)</li>
        <li>You must use a different version number every time you update your mod</li>
        <li>A title and description are optional (these won't appear in mod browser - set a description in your Mod Identity or GitHub repository "About" section)</li>
        <li>Upload your mod at the bottom, where it says Attach Binaries</li>
        <li>Only upload a single .sporemod or .package file</li>
        <li>If you check the pre-release box, your download will <em>not</em> appear on the mod browser</li>
    </ul>
</ul>
<p>Once you have completed these steps, your mod will automatically be listed on this website. The information for your mod is pulled from the XML Mod Identity file.</p>

<h2>Sharing Links to Your Mods on Mod Browser</h2>
<p>Search terms can be placed in a link to Mod Browser, which can be useful for directly linking to specific mods.</p>
<h3>Linking to a single mod</h3>
<p>To link to a specific mod, add your mod's name to the end of <code>https://mods.sporecommunity.com/?search=</code></p>
<p>When someone clicks the link, Mod Browser will be opened with the mod name pre-filled in the search, so they don't need to look for the mod.</p>
<h3>Linking to all of your mods</h3>
<p>You can link to a page listing all of your own mods by adding your GitHub username to the end of <code>https://mods.sporecommunity.com/?search=user:</code></p>
<p>For example, you can see all of emd4600's mods at <a href="https://mods.sporecommunity.com/?search=user:emd4600">https://mods.sporecommunity.com/?search=user:emd4600</a></p>