@page "/getspore"

<h1>Getting Started with Spore</h1>

<h2 id="buy">Buying and Downloading Spore</h2>

<p>Spore is currently available for purchase from the following online storefronts.</p>
<p>You need both Spore and the Spore Galactic Adventures expansion pack to use mods. The Creepy & Cute parts pack is not required.</p>

<h3 class="accent-orange">Origin</h3>

<a target="_blank" rel="noopener noreferrer" href="https://www.origin.com/can/en-us/store/spore/spore"><button class="accent-orange-bg">Buy Spore</button></a>
<a target="_blank" rel="noopener noreferrer" href="https://www.origin.com/can/en-us/store/spore/spore-galactic-adventures/expansion/spore-galactic-adventures"><button class="accent-orange-bg">Buy Galactic Adventures</button></a>
<a target="_blank" rel="noopener noreferrer" href="https://www.origin.com/can/en-us/store/spore/spore/expansion/spore-creepy--cute-parts-pack"><button class="accent-orange-bg">Buy Creepy & Cute</button></a>

<p>Origin is EA's official storefront. Spore is included with an EA Play subscription, however you will still need to purchase Galactic Adventures.</p>
<p>The Origin version of the game fully supports all mods available on this website.</p>

<h3 class="accent-purple">GOG</h3>

<a target="_blank" rel="noopener noreferrer" href="https://www.gog.com/game/spore_collection"><button class="accent-purple-bg">Buy Spore Collection</button></a>

<p>GOG sells a DRM-free version of the game. Includes both the Galactic Adventures expansion pack, and the Creepy & Cute parts pack.</p>
<p>The GOG version of the game fully supports all mods available on this website.</p>

<h3 class="spore-neutral">Steam</h3>

<a target="_blank" rel="noopener noreferrer" href="https://store.steampowered.com/bundle/1245/More_Spore/"><button class="spore-neutral-bg">Buy Spore Bundle</button></a>

<p>Steam sells a bundle that includes the game, the Galactic Adventures expansion pack, and the Creepy & Cute parts pack.</p>
<p class="accent-orange">IMPORTANT: The Steam version of the game is not supported for modding, due to Steam's DRM. Therefore, we recommend purchasing the game from one of the above two storefronts instead.</p>
<p>If you have purchased Spore from Steam, you may <a href="getspore#registerorigin">redeem a free Origin copy of the game</a>.</p>

<hr>

<h2 id="register">Registration</h2>

<h3 id="registergame">Creating your Spore account</h3>
<p>A Spore persona is needed to use online features for Spore.</p>
<p>Your Spore persona is linked to an EA/Origin account. Note that your Spore and Origin screen names may be different, depending on how you set up your account. Your Spore screen name cannot be changed, but you can add up to 5 personas per EA/Origin account at http://www.spore.com/view/screenNameManage</p>
<p>To create a Spore persona:</p>
<ul>
    <li>Open Spore</li>
    <li>On the screen that shows after the intro you will see three boxes at the bottom of the window</li>
    <li>Enter your EA/Origin account email and password in the first two boxes, then add the name you want to use in Spore on the right (you can add more through the website later)</li>
    <li>Click Register</li>
</ul>
<p>Note: The email address and password you use with Origin, at www.ea.com, or in other EA games, is the same email and password you should use for Spore. If in doubt, go to www.origin.com and try to login with your email. If it exists, that is your account. If it doesn't, create an account with EA before loading Spore.</p>

<h3 id="registerorigin">Registering Spore on Origin</h3>
<p>If you purchased Spore on other services, and cannot register in-game, or simply need to download the game from Origin, follow these instructions.</p>
<ul>
    <li>Go to https://myaccount.ea.com/cp-ui/redemption/index, log with your EA/Origin Account email and password</li>
    <li>Redeem your codes (Spore, Galactic Adventures, Creepy & Cute Parts Pack) codes from non-Origin locations</li>
    <li>IMPORTANT! For base game, make sure to redeem actual game and not the Spore Community Access</li>
    <li>Open the game and create a Spore account (if you haven't already) using the instructions above</li>
</ul>
<p>You can also redeem the codes from CD/DVD, Steam or GoG directly in Origin if you have it installed and if they haven't been attached to an account already.</p>
<p>If you get the message that your code has already been used, contact EA Support at https://help.ea.com and have your serial code ready to give to the representative. They will be able to help you out.</p>

<hr>

<h2 id="update">Updating the Game</h2>
<p>If you installed Spore from one of the three above services (Origin, Steam, GOG) after March 2017, you already have the latest version of the game.</p>
<p>The latest version of the game is required to use online features.</p>

<h4>For disc users</h4>
<p>The disc versions of Spore no longer support online features. If you would like to use Spore's online features, you may <a href="getspore#registerorigin">redeem a free Origin copy of the game</a>.</p>
<p>Please manually update to <a>Patch 1.5.1</a> if you plan to continue using the disc version. Other versions of the game do not require the patch.</p>

<h3>Checking your Spore version</h3>
<p>If you need to check if you have the latest version of Spore, open the following two folders (location may vary depending on how Spore was installed):</p>
<h4 class="accent-orange">Origin</h4>
<ul>
    <li>C:\Program Files (x86)\Origin Games\Spore\Sporebin</li>
    <li>C:\Program Files (x86)\Origin Games\Spore Galactic Adventures\SporebinEP1</li>
</ul>
<h4 class="spore-neutral">Steam</h4>
<ul>
    <li>C:\Program Files (x86)\Steam\Steamapps\Common\Spore\Sporebin</li>
    <li>C:\Program Files (x86)\Steam\Steamapps\Common\Spore Galactic Adventures\SporebinEP1</li>
</ul>
<p>In both folders, there should be a SporeApp application file (this is the actual Spore application). Right-click this file, and click Properties. Go to the Details tab. In the list, you will see "File version". If the numbers match here, you have the latest version of Spore.</p>
<ul>
    <li>Spore File version 1.3.0.22</li>
    <li>Galactic Adventures File version 3.1.0.22</li>
</ul>

<p>If you have an outdated version of the game, you must uninstall the game and all expansions, and then reinstall from Origin.</p>

<hr>

<h2>Further Questions</h2>
<p>For help with purchasing, downloading, or registering the game (including all Origin issues), contact <a target="_blank" rel="noopener noreferrer" href="https://help.ea.com/">EA Support</a>.</p>
<p>For all other help, contact us on <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/66jVk3X">Discord</a>.</p>