@page "/help"

<h1>Help</h1>

<ul>
    <li><a href="getspore">Getting Started with Spore: Buying, registering, and installing the game</a></li>
    <li>More help articles coming soon</li>
</ul>

<p>You can contact us on <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/66jVk3X">Discord</a> for questions about your Spore game, mods, technical support, or this website.</p>
<p>If you are having problems with this website, please provide the information below.</p>

<SupportInformation />