@page "/installation"

<h1>Mod Installation Guide</h1>

<p><em>This page is not maintained, as it has been replaced by the new Launcher Kit website at <a target="_blank" rel="noopener" href="https://launcherkit.sporecommunity.com/">https://launcherkit.sporecommunity.com</a></em></p>

<h2>Requirements</h2>
<p>You must own the full version of <strong>Spore</strong> and <strong>Spore Galactic Adventures</strong> to use mods. <a href="getspore#buy">Purchase Spore</a></p>
<p>They must be installed from GOG, Steam, EA app, Origin, or the discs.</p>
<p>New players are encouraged to use the GOG version, as it goes on sale frequently, incldues everything you need, and has proven to be the most reliable.</p>

<h3>For EA app users</h3>
<p>The EA app is new and may have some issues with Spore. We are still updating documentation to reflect this new app.</p>

<h3>For Steam users</h3>
<p>In the past, there were issues using mods with the Steam version of the game, due to Steam DRM. This issue has now been fixed, and all mods from this site are now compatible with Steam.</p>

<h3>For disc users</h3>
<p>The disc versions of Spore no longer support online features. If you would like to use Spore's online features, you may <a href="getspore#registerorigin">redeem a free EA/Origin copy of the game</a>, or use Rosalie's NewOpenSSL mod which upgrades the game's netcode so that it is compatible with the servers.</p>
<p>Please manually update to <a>Patch 1.5.1</a> if you plan to continue using the disc version. Other versions of the game do not require the patch.</p>

<h3>Bought Spore somewhere else?</h3>
<p>If you purchased Spore from another site, such as Amazon, you may be able to follow the above information for the disc version. If you have a serial code for the game, you may also be able to <a href="getspore#registerorigin">redeem a free EA/Origin copy of the game</a>.</p>
<p>Spore is currently only officially sold and distributed by EA through EA/Origin Store, GOG, and Steam. Use caution when purchasing from other sites. We do not offer support for illegitimate or pirated copies of the game.</p>

<hr>

<h2>Get Spore ModAPI Launcher Kit</h2>
<p>To install Spore mods, you will need the Spore ModAPI Launcher Kit. The kit contains three applications: Launcher, Easy Installer, and Easy Uninstaller.</p>
<a target="_blank" rel="noopener" href="https://launcherkit.sporecommunity.com/"><button>Get Spore ModAPI Launcher Kit</button></a>
<p>Once the Launcher Kit is installed, you must use the <strong>Spore ModAPI Launcher</strong> shortcut to open the game.</p>

<h3>Installing mods using Easy Installer</h3>
<ol>
    <li>Download the .sporemod or .package files for the mods you wish to use, and save them in a place where you will be able to find them.</li>
    <ul>
        <li>Do not extract .sporemod files.</li>
    </ul>
    <li>Open the Spore ModAPI Easy Installer.</li>
    <li>Choose the .sporemod or .package file(s) you downloaded.</li>
    <ul>
        <li>Both .sporemod and .package mods can be installed via this method.</li>
        <li>You can select multiple mods to install. Select multiple files by dragging over them, holding Ctrl, or press Ctrl+A to select all mods in the current folder.</li>
    </ul>
    <li>Click Open.</li>
    <ul>
        <li>Some mods will prompt you to choose which features of the mod you would like to use.</li>
    </ul>
</ol>
<img src="https://davoonline.com/sporemodder/rob55rod/ModAPI/Public/Res/EasyInstallBrowse.png">

<h3>Uninstalling or reconfiguring mods using Easy Uninstaller</h3>
<ul>
    <li>To uninstall or reconfigure mods, open the Spore ModAPI Easy Uninstaller.</li>
    <li>For mods with a gear icon, click the gear to change which features are enabled, or to uninstall the mod altogether.</li>
    <li>For all other mods, click the checkbox, and then click Uninstall Selected to remove the mod.</li>
</ul>
<img src="https://davoonline.com/sporemodder/rob55rod/ModAPI/Public/Res/EasyUninstallList.png">

<hr>

<h2>Additional Information</h2>

<h3>Getting support</h3>
<p>You can ask for help in the <a target="_blank" rel="noopener noreferrer" href="https://discord.gg/YUcJWtb">Spore Modding Community</a> Discord server. Use the <strong>#mod-support</strong> channel for all questions regarding installing or using mods. Please make sure you follow the rules in #server-rules.</p>
<p>It may be helpful to post a screenshot of your Easy Uninstaller, as it lists all mods you have installed, as well as the version numbers for Spore ModAPI and the launcher kit. To take a screenshot on Windows, open Spore ModAPI Easy Uninstaller, press Alt+PrntScrn, and then paste in the Discord channel.</p>

<h3>Manual installation and .package mods</h3>
<p>In the past, Spore mods were installed by placing .package files in the game's data directory. While this method remains functional for mods that are distributed as .package files, this will not work for any mod with a .sporemod file extension. <strong>You must use the Spore ModAPI Launcher Kit to install these mods.</strong> The new format enables far more capabilities for modding, as well as making it easier to install, configure, and manage mods.</p>
<p>All mods (including .package mods) can be installed with the Spore ModAPI Launcher Kit, so you are encouraged to install all mods using it.</p>
